PRICESENTRY_EXCHANGE=okx
PRICESENTRY_TELEGRAM_TOKEN=
PRICESENTRY_TELEGRAM_CHAT_ID=
PRICESENTRY_LOG_LEVEL=INFO
PRICESENTRY_DASHBOARD_ACCESS_KEY=pricesentry
PRICESENTRY_BACKEND_PORT=10080
PRICESENTRY_DASHBOARD_PORT=13080
PRICESENTRY_PUBLIC_API_BASE_URL=http://localhost:10080
